@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared styles */

:root{
    --title-color: #3A3A3A;
    --button-color: #FFFFFF;
    --button-bg-color: #E02C6D;
    --border-color: rgba(0, 0, 0, 1);
    --card-title-color: #18191F;
    --card-description-color: #787885;
    --footer-color: #FFFFFF;
    
}


header{
    margin-top: 4rem;
}

/* navbar section starts */

.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    color: var(--title-color);
}

.nav-items a:hover{
    color: var(--button-bg-color);
}

.nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--title-color);
}

.main-title{
    font-size: 1.4rem;
    font-weight: bold;
}

/* navbar section ends */


/* banner  section starts */

#banner-container{
    /* border: 1px solid red; */
    max-width: 1188px;
    margin: 2.6rem auto 0;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    /* border: 1px solid red; */
    max-width: 582px;
}

.banner-content .banner-title{
    font-size: 3.2rem;
    margin-bottom: 0.3rem;
    line-height: 4rem;
    color: var(--title-color);
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
    margin-bottom: 1rem;
}

.btn{
    padding: 10px 24px;
    background-color: var(--button-bg-color);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 41px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover{
    background-color: #FFFFFF;
    color: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
}

.banner-image{
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-image img{
    position: relative;
    width: 100%;
    transition: transform 1s ease;
}

.banner-image img:hover{
    transform: translateY(-8px);
}

/* banner section ends */


/* partner companies section starts */

.partner-companies{
    max-width: 1110px;
    max-height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px auto 0;
    gap: 60px;
    padding: 36px 63px;
    border-top: 1px solid #dde0e6;
    border-bottom: 1px solid #dde0e6;
}


/* partner companies section ends */

/* popular collection section starts */

.popular-collection{
    max-width: 1045px;
    margin: 100px auto 0px;
    /* border: 1px solid red; */
}

.popular-collection-title{
    margin: 0px auto 40px;
    text-align: center;
    line-height: 4rem;
    color: var(--title-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.population-collection-cards{
    max-width: 329px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.card{
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 14px;
    transition: border 0.1s ease-in-out , transform 0.9s ease-in-out;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1rem;
    margin-bottom: 6px;
}

.card-price{
    margin-top: 8px;
    margin-bottom: 6px;
    font-size: 1.5rem;
    font-weight: 300;
}

.rating{
    font-size: 0.9rem;
    font-weight: bold;
    color: #5E6366;
}

.rating i{
    /* border: 1px solid red; */
    margin-top: 1px;
    font-size: 0.8rem;
    color: #FB8200;
    
}

.card-description{
    font-size: 0.9rem;
    font-weight: bold;
    color: #787885;
}

.card:hover{
    border: 2px solid var(--button-bg-color);
    transform: translateY(-6px);
    box-shadow: 1px 8px 20px #5a152e82;
}

.see-more{
    font-size: 1rem;
    text-align:right;
    color: var(--button-bg-color);
    font-weight: bold;
    margin-top: 2rem;
}

/* popular collection section ends */


/* featured products section starts */

.featured-products{
    /* border: 1px solid red;  */
    max-width: 1045px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 4rem;
}

.featured-products-content{
    max-width: 613px;
    /* border: 1px solid blue; */
}

.featured-products-title{
    font-size: 2rem;
    margin: 0 auto;
    color: #0A0826;
}

.featured-products-description{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2rem;
    color: #6C6C6C;
}

#secondary-btn{
    border-radius: 0;
}

/* featured products section ends */

/* footer section starts */

.footer-section{
    max-width: 100%;
    background-color: #0A0826;
    color: var(--footer-color);
    text-align: center;
    padding: 3rem;
}

.footer-title{
    font-size: 1.5rem;
    margin-bottom: 0px;
}

.copyright{
    margin-top: 0px;
    font-size: 0.9rem;
    font-weight: 200;
}

.social-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* footer section ends */


/* Responsiveness for mobile device */

@media screen and (max-width:576px){
    /* Navbar */
    .navbar{
        /* border: 1px solid red; */
        width: 100%;
        flex-direction: column;
    }

    #banner-container{
        /* width: 100%; */
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-content{
        padding: 14px auto 0px;
    }

    .banner-title{
        font-size: 9rem;
        color: var(--title-color);
    }

    .banner-image{
        width: 80%;
        text-align: center;
        font-weight: bold;
        margin: 0 auto;
    }


    .partner-companies{
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border: none;
        margin-top: 1.25rem;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }

    .popular-collection{
        /* border: 1px solid red; */
        padding-top: 5rem;
    }

    .population-collection-cards{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }

    .card{
        width: 92%;
    }

    .card img{
        padding: 14px auto 0px;
    }
    .featured-products{
        flex-direction: column-reverse;
        text-align: center;
    }

    .copyright{
        line-height: 2rem;
    }





    

}

