@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.font-poppins{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* shared styles */

:root{
    --title-color: #3A3A3A;
    --button-color: #FFFFFF;
    --button-bg-color: #E02C6D;
    --card-title-color: #18191F;
    --card-description-color: #787885;
    
}


/* header section starts */

header{
    margin-top: 4rem;
}

/* navbar section starts */

.navbar{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1188px;
    margin: 0 auto;
    color: var(--title-color);
}

.nav-items{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--title-color);
}

.main-title{
    font-size: 1.4rem;
    font-weight: bold;
}

/* navbar section ends */


/* banner  section starts */

#banner-container{
    /* border: 1px solid red; */
    max-width: 1188px;
    margin: 2.6rem auto 0;
    display: flex;
    justify-content: space-between;
}

.banner-content{
    /* border: 1px solid red; */
    max-width: 582px;
}

.banner-content .banner-title{
    font-size: 3.2rem;
    margin-bottom: 0.3rem;
    line-height: 4rem;
    color: var(--title-color);
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: var(--title-color);
}

.btn{
    padding: 10px 24px;
    background-color: var(--button-bg-color);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 41px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #FFFFFF;
    color: var(--button-bg-color);
    border: 1px solid var(--button-bg-color);
}






/* banner section ends */